@media (max-width: 768px) {
  .arrow {
    font-size: 18px;
  }
}
.arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 500;
  background: transparent !important; /* No white circle */
  border: none;
  width: auto;
  height: auto;
  font-size: 20px;         /* Bigger arrow */
  cursor: pointer;
  color: black;            /* Black arrow */
  box-shadow: none !important;
  padding: 0;
}
.arrow:hover{
  color:blue;
}
.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}
