.career-card {
  background: linear-gradient(135deg, #f4f1ff, #ece8ff);
  border-radius: 16px;
  min-height: 90px;
  transition: 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.career-wrapper {
  padding-bottom: 40px;
}

.career-arrows {
  position: absolute;
  bottom: 6px;          /* 👈 cards keela */
  left: 50%;
  transform: translateX(-50%);
  width: 110px;

  display: flex;
  justify-content: space-between;
}


.career-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.12);
}

.career-icon {
  width: 42px;
}

.career-scroll::-webkit-scrollbar {
  display: none;
}

.career-scroll {
  scrollbar-width: none;

}


.career-card h5 {
  font-size: 14px;
  white-space: nowrap; 
}

@media (min-width: 768px) {
  .career-card h5 {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .career-card {
    min-height: 120px;
    padding: 20px;
  }

  .career-card h5 {
    font-size: 18px;
  }

  .career-icon {
    width: 60px;
  }
}

.career-col {
  flex: 0 0 auto;
}


.career-col {
  flex: 0 0 65%;
}


@media (min-width: 425px) and (max-width: 575px) {
  .career-col {
    flex: 0 0 48%;
  }
}

@media (min-width: 768px) {
  .career-col {
    flex: unset;
  }
}

@media (min-width: 768px) {
  .career-col {
    flex: unset;
    max-width: unset;
  }
}
@media (min-width: 1024px) { 
  .career-card h5 {
    font-size: 25px !important;
  }
}

/* hide scrollbar */
.logo-scroll {
  scrollbar-width: none;
}
.logo-scroll::-webkit-scrollbar {
  display: none;
}

/* pill like coursera */
.logo-pill {
  background: #fff;
  border: 1px solid #e6ecf5;
  border-radius: 999px;
  cursor: pointer;
  white-space: nowrap;
  width: 280px;          /* ⭐ KEY */
  height: 44px;          /* ⭐ KEY */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.logo-pill * {
  pointer-events: none;
}

.logo-pill:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.12);
}

/* THIS IS THE MAIN FIX */
.logo-img {
  height: 20px;       
  width: 41px;
   /* max-width: 24px;   */
  object-fit: contain;
}

/* no animation for text */
.logo-pill span {
  font-size: 15px;
  font-weight: 500;
  color: #111;
  text-shadow: none !important;
  transform: none !important;
  will-change: auto;
}

.logo-scroll {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.logo-scroll::-webkit-scrollbar {
  display: none;
}
