
@media (min-width: 992px) {
  .offcanvas,
  .offcanvas-backdrop {
    display: none !important;
  }
}


.mobile-item {
  background: #fff;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  cursor: pointer;
  color: #0F1114;
}


.mobile-fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 16px;
  background: #fff;
  z-index: 9999;
}

.submenu-page {
  position: fixed;
  inset: 0;
  background: #fff;
  z-index: 99999;
  overflow-y: auto;
}


.submenu-header {
  background: #F2F5FA;
  color: #5B6780;
}


.submenu-item {
  font-size: 16px;
  color: #0F1114;
  margin-left: 5px;
}

.mobile-menu-wrapper {
  padding-bottom: 180px;
}

.offcanvas-backdrop {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}