.active-top-tab {
  background: white;
  color: black;
  padding: 0 14px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.active-top-tab::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 128px;
  height: 16px;
  background: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

span:hover {
  background: white;
  color: black;
  cursor: pointer;
  padding:10px;
}
.login-hover:hover {
  text-decoration: underline;
}

/* Exact Coursera hamburger */
.coursera-ham-btn {
  padding: 0;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/* Main middle line */
.coursera-ham {
  width: 20px;
  height: 2px;
  background: #1f1f1f;
  position: relative;
  border-radius: 2px;
  transform: none !important;   /* FIX SLANT */
}

/* Top + Bottom lines */
.coursera-ham::before,
.coursera-ham::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #1f1f1f;
  border-radius: 2px;
  left: 0;
  transform: none !important;   /* FIX SLANT */
}

.coursera-ham::before {
  top: -6px;
}

.coursera-ham::after {
  top: 6px;
}
.search-icon {
  filter: brightness(0) saturate(100%);
}



.offcanvas-header {
  border-bottom: 1px solid #e5e5e5; /* Coursera style bottom line */
  padding: 16px 20px;
}









