
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
 font-family: "Source Sans Pro", Arial, sans-serif; 
}


body {
  background: #f8f8f8;
}
