/* RESET ALL DEFAULT MARGINS, PADDING, BOX SIZING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ENSURE BODY & ROOT TAKE FULL WIDTH */
html, body, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
 font-family: "Source Sans Pro", Arial, sans-serif; 
}

/* OPTIONAL: BACKGROUND */
body {
  background: #f8f8f8;
}
