
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
 font-family: "Source Sans Pro", Arial, sans-serif; 
}


body {
  background: #f8f8f8;
}



/* Hide horizontal scrollbar – mobile & tablet safe */
.hide-x-scrollbar {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE / Edge */
}

.hide-x-scrollbar::-webkit-scrollbar {
  height: 0;                   /* Chrome / Android */
  display: none;               /* Safari / iOS */
}
