@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import "tailwindcss";
:root {
  --page-padding: 52px;   /* ≈ 1.3cm Coursera gap */
  --max-width: 1600px;
}

body {
  margin: 0;
}


/* hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


html, body, * {
  font-family: "Source Sans Pro", Arial, sans-serif !important;
}

.page-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}

@media (max-width: 768px) {
  .page-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}
